.form-card {
  width: 650px;
}

form,
.form-cardContent {
  padding: 20px 30px;
}

.userInput {
  width: 100%;
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.reset-wrapper {
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
}

.btn-div {
  display: flex;
  flex-direction: column;
}

.btn-div > * {
  margin-top: 15px;
}

.status-div {
  text-align: center;
  font-weight: 500;
}

.error-clr {
  color: red;
}

.success-clr {
  color: green;
}
